* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  font-family: "Arimo", sans-serif;
  letter-spacing: 0.07rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
}

header {
  background-color: #fddfbe;
  position: relative;
  display: grid;
  grid-template-rows: 55.5vw 1fr;
  align-items: start;
  z-index: 0;
}

.header-background {
  position: absolute;
  background: url(assets/header/portfolio-header-phone.png) no-repeat 0% 0% /
    contain;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.header-vertical-dashed-line {
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 10px,
    transparent 10px,
    transparent 20px
  );
  position: absolute;
  height: 55vw;
  width: 3px;
  z-index: 2;
  left: 4.75vw;
}

.header-horizontal-dashed-line-top {
  background: repeating-linear-gradient(
    to right,
    white,
    white 10px,
    transparent 10px,
    transparent 20px
  );
  position: absolute;
  height: 3px;
  width: 52vw;
  z-index: 2;
  top: 30vw;
}

.header-horizontal-dashed-line-bottom {
  display: none;
  background: repeating-linear-gradient(
    to right,
    white,
    white 10px,
    transparent 10px,
    transparent 20px
  );
  position: absolute;
  height: 3px;
  width: 34vw;
  z-index: 2;
  top: 41vw;
  left: 66vw;
}

.header-diagonal-dashed-line {
  position: absolute;
  z-index: 2;
  width: 3px;
  height: 35vw;
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 10px,
    transparent 10px,
    transparent 20px
  );
  transform: rotate(130deg);
  left: 39vw;
  top: -8%;
}

.header-info {
  position: relative;
  z-index: 3;
  display: grid;
  grid-row: 1/2;
  grid-template-rows: 1.2fr 1fr;
  height: 100%;
}

h1.header-name {
  font-family: "Arimo", sans-serif;
  align-self: end;
  font-size: 8vw;
  margin-left: 8vw;
}

.header-tagline {
  grid-row: 2/3;
  margin-left: 8vw;
  margin-right: 55vw;
  padding-top: 1vw;
  font-size: 4vw;
}

.header-about-me-container {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fddfbe;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

.header-about-me-content {
  border: 3px solid white;
  margin-left: 15px;
  margin-right: 15px;
}

.header-float-right {
  float: right;
  width: 55vw;
  height: 10vw;
}

.header-about-me {
  padding: 10px;
  font-size: 5vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  flex: 1;
}

.main-project {
  height: 270px;
  background-color: #7fa59d;
}

.main-project img {
  width: 270px;
  height: auto;
  object-fit: contain;
}

.main-project-info {
  padding: 5px 10px;
}

h2.main-project-title {
  font-size: 20px;
}

.main-project-desc {
  font-size: 14px;
}

.main-project-info-top {
  display: flex;
  justify-content: space-between;
}

.main-project-info-icons {
  display: flex;
  gap: 10px;
}

.main-project-icon {
  font-size: 25px;
  color: white;
}

.main-project-info img {
  height: 25px;
  width: 25px;
}

footer {
  background-color: #fddfbe;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer-icons {
  display: flex;
  gap: 15px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  font-size: 50px;
  color: white;
}

.footer-icons img {
  height: 50px;
  width: 50px;
}

@media (min-width: 500px) {
  header {
    grid-template-rows: 23vw 1fr;
  }

  .header-background {
    background-image: url(assets/header/portfolio-header-ipad.png);
  }

  .header-vertical-dashed-line {
    height: 23vw;
  }

  .header-horizontal-dashed-line-top {
    width: 71vw;
    top: 16vw;
  }

  .header-horizontal-dashed-line-bottom {
    display: block;
  }

  .header-diagonal-dashed-line {
    left: 62vw;
    top: -5vw;
    height: 23vw;
  }

  .header-info {
    grid-template-rows: 2.35fr 1fr;
  }

  h1.header-name {
    font-size: 6vw;
  }

  .header-tagline {
    font-size: 2.5vw;
    margin-right: 20vw;
  }

  .header-float-right {
    display: none;
  }

  .header-about-me-container {
    z-index: 2;
    padding-bottom: 20px;
    width: 67vw;
  }

  .header-about-me-content {
    margin-right: 0;
  }

  .header-about-me {
    padding: 15px;
    font-size: 3vw;
  }
}

@media (min-width: 800px) {
  .header-horizontal-dashed-line-bottom {
    display: none;
  }
}

@media (min-width: 1000px) {
  header {
    background-color: transparent;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 11vw 11vw 8vw;
    height: 30vw;
  }

  .header-background {
    background: url(assets/header/portfolio-header-web.png) no-repeat 100% 0% /
      contain;
  }

  .header-vertical-dashed-line {
    height: 25vw;
    left: 30vw;
  }

  .header-horizontal-dashed-line-top {
    width: 78.5vw;
    top: 11vw;
    z-index: 4;
  }

  .header-diagonal-dashed-line {
    left: 71vw;
    height: 19vw;
  }

  .header-info {
    background-color: #fddfbe;
    grid-row: 1/3;
    height: 22.25vw;
    grid-template-rows: 1fr 1fr;
  }

  h1.header-name {
    font-size: 3vw;
    text-align: right;
    margin-left: 0;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  .header-tagline {
    font-size: 1.5vw;
    margin-right: 0;
    margin-left: 4vw;
    text-align: right;
    padding-top: 8px;
    padding-right: 8px;
  }

  .header-about-me-container {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-bottom: 0;
    width: 44vw;
    height: 9.5vw;
    margin-left: 12px;
    margin-top: 12px;
  }

  .header-about-me-content {
    margin-left: 0;
    height: 100%;
  }

  .header-about-me {
    font-size: 1.7vw;
    padding: 8px;
  }

  main {
    padding-top: 0;
  }
}

@media (min-width: 1440px) {
  body {
    background: url(assets/portfolio-background.png) no-repeat 50% 50% / cover;
    background-size: 200%;
  }

  .content {
    width: 1440px;
    height: 785px;
  }

  header {
    height: 432px;
    grid-template-columns: 435px 1fr;
    grid-template-rows: 155px 155px 125px;
  }

  .header-vertical-dashed-line {
    height: 322px;
    left: 435px;
  }

  .header-horizontal-dashed-line-top {
    width: 1150px;
    top: 154px;
  }

  .header-diagonal-dashed-line {
    top: -40px;
    left: 1060px;
    height: 230px;
  }

  .header-info {
    width: 432px;
    height: 322px;
  }

  h1.header-name {
    font-size: 2.5rem;
  }

  .header-tagline {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .header-about-me-container {
    width: 633px;
    height: 136px;
    margin-left: 20px;
  }

  .header-about-me {
    font-size: 1.5rem;
  }
}
