* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  font-family: "Arimo", sans-serif;
  letter-spacing: 0.07rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
}

header {
  /* flex: 1; */
  background-color: #fddfbe;
  position: relative;
  /* padding-top: 30px; */
  /* padding-bottom: 20px; */
  display: grid;
  grid-template-rows: 55.5vw 1fr;
  align-items: start;
  /* height: 375px; */
  z-index: 0;
  /* gap: 5px; */
}

.header-background {
  position: absolute;
  background: url(assets/portfolio-header-phone.png) no-repeat 0% 0% / contain;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.header-vertical-dashed-line {
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 10px,
    transparent 10px,
    transparent 20px
  );
  position: absolute;
  height: 55vw;
  width: 3px;
  z-index: 2;
  left: 4.75vw;
}

.header-horizontal-dashed-line {
  background: repeating-linear-gradient(
    to right,
    white,
    white 10px,
    transparent 10px,
    transparent 20px
  );
  position: absolute;
  height: 3px;
  width: 52%;
  z-index: 2;
  top: 30vw;
}

.header-diagonal-dashed-line {
  position: absolute;
  z-index: 2;
  width: 3px;
  height: 35vw;
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 10px,
    transparent 10px,
    transparent 20px
  );
  transform: rotate(130deg);
  left: 39%;
  top: -8%;
}

.header-info {
  position: relative;
  z-index: 3;
  display: grid;
  grid-row: 1/2;
  grid-template-rows: 1.2fr 1fr;
  height: 100%;
}

h1.header-name {
  /* position: relative;
  z-index: 3; */
  font-family: "Arimo", sans-serif;
  align-self: end;
  font-size: 8vw;
  margin-left: 8vw;
  /* padding-bottom: 1vw; */
}

.header-tagline {
  /* position: relative;
  z-index: 3; */
  grid-row: 2/3;
  /* padding-top: 6px; */
  margin-left: 8vw;
  margin-right: 55vw;
  padding-top: 1vw;
  font-size: 4vw;
}

.header-about-me-container {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fddfbe;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

.header-about-me-content {
  border: 3px solid white;
  margin-left: 15px;
  margin-right: 15px;
}

.header-float-right {
  float: right;
  width: 55vw;
  height: 10vw;
}

.header-about-me {
  padding: 10px;
  font-size: 5vw;
}

@media (min-width: 600px) {
  .header-background {
    background-image: url(assets/portfolio-header-ipad.png);
  }

  .header-horizontal-dashed-line {
    width: 73%;
  }
}

@media (min-width: 1000px) {
  .header-background {
    background: url(assets/portfolio-header-web.png) no-repeat 100% 0% / contain;
  }

  .header-horizontal-dashed-line {
    width: 79%;
  }
}

@media (min-width: 1440px) {
  body {
    background: url(assets/portfolio-background.png) no-repeat 50% 50% / cover;
    background-size: 200%;
  }

  main {
    max-width: 1425px;
    max-height: 785px;
  }
}
